  <%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</p>

      
      <% @list.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :list_name, "List name *"%>
    <%= f.text_field :list_name %>
  </div>
    <%= f.hidden_field :user_id, :value => curr_user_id, :readonly => true %>
  <div class="actions">
    <%= f.submit :class => 'button' %>
    <%= link_to 'Cancel and Back to Lists', lists_path, :class => "button secondary" %>

  </div>
<% end %>
