<h1>Listing lists</h1>

<table border = 1>
    <tr>
      <td>1List ID</td>
      <td>2List name</td>
      <td>3User</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
    </tr>

    <% @lists.each do |list| %>
      <tr>
        <td class="list_id"><%= list.list_id %></td
        <td class="list_name"><%= list.list_name %></td>
        <td class="user_email"><%= created_by_email(list.id)  %></td>
        <td class="link_to_Show"><%= link_to 'Show', list %></td>
        <td class="link_to_Edit"><%= link_to 'Edit', edit_list_path(list) %></td>
        <td class="link_to_Destroy"><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  
</table>

<br>

<%= link_to 'New List', new_list_path %>
