<h1>Listing lists</h1>

<table>
  <thead>
    <tr>
      <th>List</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Place</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.list_id %></td>
        <td><%= list.product %></td>
        <td><%= list.quantity %></td>
        <td><%= list.place %></td>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path %>
