<h1>Lists</h1>

<table border = 0 class="lists_table">
  <thead>
    <tr>
      <th>List name</th>
      <th>Creator/Updator</th>
      <th># of items</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  

    <% @lists.each do |list| %>
      <tr>
        <td class="list_name"><%=link_to list.list_name, list %></td>
        <td class="creator_email"><%= created_by_email(list.id)  %></td>
        <td><%= Item.where(list_id: list.id).count %></td>
        <td class="link_to_Edit"><%= link_to 'Edit', edit_list_path(list) %></td>
        <td class="link_to_Destroy"><%= link_to '[X]', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  
</table>

<br>

<%= link_to 'New List', new_list_path, class: "button" %>
