<table cellpadding = 5 width=100%>
  <tr>
    <td  rowspan=3>
      <h1><%= link_to @list.list_name , edit_list_path(@list), :title => "Click to edit list"%></h1>
    </td>
    <td width=20><%= link_to 'edit' , edit_list_path(@list), :title => "Click to edit list"%></td>
  </tr>
  
  <tr>
    <td colspan=2 style="background-color: #fff;"><%= link_to '<-', lists_path, :title => "Go back to Lists" %></td>
  </tr>
  
  <tr>
    <td colspan=2><%= link_to '[X]', @list, method: :delete, data: { confirm: 'Are you sure?' }, :title => "Delete the list" %></td>
  </tr>
  
  <tr>
    <td class="creator_email" colspan=2>
      Created by:
      <i><%= created_by_email(params[:id])  %></i>
    </td>

  </tr>
</table>


<%
  print checking_if_tems_in_list(params[:id])
  if checking_if_tems_in_list(params[:id]) == true
%>
     <p>The list is empty, add more items using form below!</p>
<%
  else
%>
  <p>There are <b><%= find_list_items(params[:id]).count %> items</b> in this list:</p>
  <table>
    <thead>
    <tr>
      <td>Product</td>
      <td>Quantity</td>
      <td>Shop</td>
      <td></td>
      <td></td>
    </tr>
    </thead>
    <% find_list_items(params[:id]).order(:place_id).each  do |listitem|%>
    <tr>
      <td><%=h product_name_for_list(listitem[:product_id]) %></td>
      <td><%= listitem[:quantity] %></td>
      <td><%= place_name_for_list(listitem[:place_id]) %></td>
      <td><%= link_to 'Edit', edit_item_path(Item.find(listitem[:id])) %> </td>
      <td><%= link_to '[X]', listitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </table>
  
<%
  end
%>

<p>Add items to the list</p>

<div class="small-4">
<%= form_for @item do |f| %>

  <div class="field">
    <%= f.label :product %>
    <%= f.collection_select :product_id, Product.all.order(:article), :id, :article %>
  </div>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :place %>
    <%= f.collection_select :place_id, Place.all.order(:title), :id, :title %>
  </div>
    <%= f.hidden_field :list_id, :value => curr_list_id, :readonly => true %>
  <%= f.submit :class => 'button' %>
<% end %>
</div>
