<table cellpadding = 5>
  <tr>
    <td colspan=6>
      <h2><%= @list.list_name %></h2>
    </td>
  </tr>
  <tr>
    <td>
      Created/Updated by:
      <i><%= created_by_email(params[:id])  %></i>
    </td>
    <td> | </td>
    <td>
      <%= link_to 'Edit List', edit_list_path(@list) %>
    </td>
    <td> | </td>
    <td>
      <%= link_to '[X]', @list, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <td> | </td>
    <td>
      <%= link_to 'Back to the Lists', lists_path %>
    </td>
  </tr>
</table>


<%
  print checking_if_tems_in_list(params[:id])
  if checking_if_tems_in_list(params[:id]) == true
%>
     <p>The list is empty, add more items using form below!</p>
<%
  else
%>
  <p>The items in this list are:</p>
  <table>
    <tr>
      <td>Product</td>
      <td>Quantity</td>
      <td>Shop</td>
      <td></td>
      <td></td>
    </tr>
    
    <% find_list_tems(params[:id]).each  do |listitem|%>
    <tr>
      <td><%= product_name_for_list(listitem[:product_id]) %></td>
      <td><%= listitem[:quantity] %></td>
      <td><%= place_name_for_list(listitem[:place_id]) %></td>
      <td><%= link_to 'Edit', edit_item_path(Item.find(listitem[:id])) %> </td>
      <td><%= link_to 'Del', listitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td></td>
    </tr>
    <% end %>
  </table>
  
<%
  end
%>

<p>Add items to the list</p>

<%= form_for @item do |f| %>

  <div class="field">
    <%= f.label :product %><br>
    <%= f.collection_select :product_id, Product.all.order(:article), :id, :article %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.collection_select :place_id, Place.all.order(:title), :id, :title %>
  </div>
  <div class="field">
    <%= f.label :list_id %><br>
    <%= f.number_field :list_id, :value => curr_list_id, :readonly => true %>
  </div>
  <%= f.submit %>
<% end %>

