<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>List:</strong>
  <%= @list.list_id %>
</p>
-->
<p>
  <strong>List name:</strong>
  <%= @list.list_name %>
</p>

<p>
  <strong>User:</strong>
  <%= curr_user_email %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>

<p>Add items to the list</p>

<%= form_for :item do |f| %>
<div class="field">
    <%= f.label :item_id %><br>
    <%= f.number_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :product %><br>
    <%= f.text_field :product %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :list_id %><br>
    <%=
      f.number_field :list_id, :value => curr_list_id, :readonly => true %>
  </div>
  <%= f.submit %>
<% end %>

