<div class="small-4">
  <%= simple_form_for(@item) do |f| %>

<%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :product_id %><br>
    <%= f.collection_select :product_id, Product.all.order(:article), :id, :article %>    


    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>


    <%= f.label :place_id %><br>
    <%= f.collection_select :place_id, Place.all.order(:title), :id, :title %>


    <%= f.label :list_id %><br>
    <%= f.number_field :list_id %>
  </div>
</div>  
  <div class="form-actions small-12">
    <%= f.submit :class => 'button' %>
    <%= link_to 'Cancel and Back to List', list_path(@list_id_num), :class => "button secondary"  %>
  </div>
<% end %>
