<h1>Registered items</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Place</th>
      <th>List_id</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= product_name(item.id) %></td>
        <td><%= item.quantity %></td>
        <td><%= place_name(item.id) %></td>
        <td><%= item.list_id %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to '[X]', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path, class: "button" %>
