<p>
  <strong>Product ID:</strong>
  <%= product_name(params[:id]) %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Place name:</strong>
  <%= place_name(params[:id]) %>
</p>

<p>
  <strong>List id:</strong>
  <%= @item.list_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
