<%= simple_form_for(@product) do |f| %>

<%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :article %><br>
    <%= f.text_field :article %>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
