<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @product.article %>
</p>

<p>
  <strong>Place:</strong>
  <%= @product.place %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
