<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</p>

      <% @place.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>

    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Shop Title *" %>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'button'%>
    <%= link_to 'Cancel and Back to Shops', places_path, :class => "button secondary" %>

  </div>
<% end %>
