<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
        <%= csrf_meta_tags %>
  </head>

  <body>
    
  <div class="content">
    <div class="header">
      <div class="logo">
        
      </div>
      <div class="moto">
        organize your shopping
      </div>
      <% if current_user %>
    
        <nav class="top-bar" data-topbar role="navigation">
          
            <ul class="title-area">
              <li class="name">
                <%= link_to 'Lists', root_url %>
              </li>
              <li class="name">
                <%= link_to 'Goods', products_url %>
              </li>
              <li class="name">
                <%= link_to 'Shops', places_url %>
              </li>
              <li class="name">
                Friends
              </li>
              <li class="name">
                About
              </li>
            </ul>
        </nav>
        <div class="clear"> </div>
      <% end %>
    </div>
    <div class="clear"></div>
    <div class="main_block">
    <% if current_user %>

      

      <%= yield %>

    <% else %>
      
      <%= yield %>
      
    <% end %>
    
    </div>
    <%= javascript_include_tag "application" %>
  </div>    
  </body>
</html>
